In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('simple_well_jan09_2020.csv')

In [3]:
df.head()

,Date,Gas Flow_MMSCFD,Oil_bpd,Water_bpd,FWHP_psig,Temperature_F,FlowPatternGasLiquid2,FroudeNumberGas2,FroudeNumberLiquid2,HoldupFractionLiquid2,...,HoldupFractionLiquid6,Pressure6,ReynoldsNumber6,SuperficialVelocityGas6,SuperficialVelocityLiquid6,SurfaceTensionLiquidInSitu6,Temperature6,ViscosityLiquidInSitu6,FINAL PRESS,FINAL TEMP
0,1/1/2020,2.0,480.0,4500.0,5600.0,230,9.0,0.0,0.81,1.0,...,0.845727,3445.338441,409800.7890,0.510384,2.641022,0.013319,218.224244,0.273293,2126.376735,212.370290
1,1/2/2020,2.0,480.0,3450.0,5500.0,230,9.0,0.0,0.67,1.0,...,0.817304,3433.193097,334632.3328,0.507737,2.124772,0.012765,215.654655,0.275990,2177.457559,208.752810
2,1/3/2020,2.0,480.0,3000.0,5400.0,230,9.0,0.0,0.61,1.0,...,0.797930,3384.746091,303566.9168,0.517678,1.900507,0.012747,214.077168,0.277711,2168.102001,206.531840
3,1/4/2020,2.0,479.0,2500.0,5300.0,230,9.0,0.0,0.55,1.0,...,0.774212,3352.099809,268085.3347,0.522150,1.652199,0.012434,211.823424,0.280040,2183.207951,203.401306
4,1/5/2020,2.0,479.0,2000.0,5200.0,230,9.0,0.0,0.48,1.0,...,0.747499,3334.709232,231149.3853,0.519421,1.406630,0.011781,208.753765,0.283581,2220.778037,199.208880

In [30]:
df1=df.iloc[:, 0:6]

In [31]:
df1.head()

       Date  Gas Flow_MMSCFD  Oil_bpd   Water_bpd  FWHP_psig  Temperature_F
0  1/1/2020              2.0     480.0     4500.0     5600.0            230
1  1/2/2020              2.0     480.0     3450.0     5500.0            230
2  1/3/2020              2.0     480.0     3000.0     5400.0            230
3  1/4/2020              2.0     479.0     2500.0     5300.0            230
4  1/5/2020              2.0     479.0     2000.0     5200.0            230

In [32]:
df2=df1

In [33]:
df2.head()

       Date  Gas Flow_MMSCFD  Oil_bpd   Water_bpd  FWHP_psig  Temperature_F
0  1/1/2020              2.0     480.0     4500.0     5600.0            230
1  1/2/2020              2.0     480.0     3450.0     5500.0            230
2  1/3/2020              2.0     480.0     3000.0     5400.0            230
3  1/4/2020              2.0     479.0     2500.0     5300.0            230
4  1/5/2020              2.0     479.0     2000.0     5200.0            230

In [34]:
import random

In [37]:
df2["Gas Flow_MMSCFD"]=df1["Gas Flow_MMSCFD"].apply(lambda x: x+random.randint(-10,10)*0.02)

In [38]:
df2.head()

       Date  Gas Flow_MMSCFD  Oil_bpd   Water_bpd  FWHP_psig  Temperature_F
0  1/1/2020             1.82     480.0     4500.0     5600.0            230
1  1/2/2020             2.04     480.0     3450.0     5500.0            230
2  1/3/2020             2.02     480.0     3000.0     5400.0            230
3  1/4/2020             1.94     479.0     2500.0     5300.0            230
4  1/5/2020             1.94     479.0     2000.0     5200.0            230

In [45]:
df2["Oil_bpd "]=df1["Oil_bpd "].apply(lambda x: x+random.randint(-20,30))

In [46]:
df2["Water_bpd"]=df1["Water_bpd"].apply(lambda x: x+random.randint(-20,30))

In [47]:
df2["FWHP_psig"]=df1["FWHP_psig"].apply(lambda x: x+random.randint(-50,50))

In [49]:
df2.head()

       Date  Gas Flow_MMSCFD  Oil_bpd   Water_bpd  FWHP_psig  Temperature_F
0  1/1/2020             1.82     500.0     4505.0     5592.0            230
1  1/2/2020             2.04     486.0     3459.0     5486.0            230
2  1/3/2020             2.02     486.0     2987.0     5442.0            230
3  1/4/2020             1.94     475.0     2507.0     5290.0            230
4  1/5/2020             1.94     482.0     2027.0     5247.0            230

In [50]:
df2.to_csv('simple_well_data with noise.csv')